{% load static %}
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths no-cssscrollbar" lang="en"><head>
    <title>Flat Able - Premium Admin Template by Phoenixcoded</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'icon/themify-icons/themify-icons.css'%}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'icon/icofont/css/icofont.css'%}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <!-- color .css -->

</head>

<body class="fix-menu">
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            {% block content %}

            {% endblock %}
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script> -->
    <!-- jquery slimscroll js -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script> -->
    <!-- modernizr js -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/modernizr/js/css-scrollbars.js' %}"></script> -->
    <!-- i18next.min.js -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/i18next/js/i18next.min.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script> -->




</body></html>