{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Socios</title>

<!-- css -->
<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
<!-- fin css -->
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>

</head>
<body>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
      

    <!-- Required Jquery -->
    
</body>
</html>

